body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.albumInfo {
font-size: 25px;
}

.navList {
  list-style: none;
  float: right;
}

.infoBlock {
  display: inline-block;
}

.coverImage {
  margin: 10px;
}

img {
  max-height: 400px;
}

a > img {
  max-height: 200px;
  margin: 10px;
}