body {
  padding: 50px;
  font-size: 14px;
  font-family: monospace;
  background-color: rgb(196, 228, 233);
}

hr {
  border: 2px solid rgb(116, 3, 3);
}

textarea {
  width: 400px;
  height: 100px;
}

a {
  color: #00B7FF;
}

.albumInfo {
font-size: 25px;
}

.navList {
  list-style: none;
  float: right;
}

.commentInfo {
  font-size: 10px;
  color: orangered;
}


img {
  max-height: 400px;
  margin: 10px;
}

a > img {
  max-height: 200px;
  margin: 10px;
}

.displayAlbumInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.albumDetailLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.trackListing {
  font-size: 15px;
}

.profilePic {
  height: 40px;
}